@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

div#carousel {
    height: 150%;
    width: 100%;
    max-height: 650px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

div#carousel-title a {
    text-decoration: none;
}

div#carousel-title {
    display: block;
    background-color: transparent;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    display: inline-block;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #1351d8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
}

header nav a:hover {
    color: #1b357e;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

main {
    min-height: calc(100% - 167px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

nav#social {
    display: inline;
    width: 80%;
}

nav#social ul img {
    width: 28px;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

footer {
    background: #1B357E;
    padding: 20px;
}

footer div {
    display: inline;
    float: right;
    margin-right: 40px;
}

button:hover {
    background: #1b357e;
}

button {
    background: #1351d8;
    color: #fff;
    border: 0px;
    border-radius: 10px;
}

/* ============================= */
/*      CARROSSEL COM BOTÕES     */
/* ============================= */

#carousel {
    width: 100%;
    text-align: center;
    object-fit: cover;
    height: 100%;
}

#carousel img {
    width: 85vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Título abaixo da imagem */
#carousel-title {
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: 15px;
}

.container-carousel {
    display: flex;
    padding: 50px;
    align-items: center;
}

#prev-btn,
#next-btn {
   background-color: #1351d8;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   font-size: 18px;
   transition: all 0.3 ease-in-out;
}


#prev-btn:hover,
#next-btn:hover {
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
    #carousel img {
        height: 250px;
    }

    .nav-btn {
        font-size: 20px;
        padding: 6px 10px;
    }
}